<form  (ngSubmit)="addPerformance()" [formGroup]="performanceForm">
  <input class="field" formControlName="name" type="text" />
  <input class="field" formControlName="genre" type="text" />
  <textarea
    class="field"
    formControlName="description"
    cols="30"
    rows="3"
  ></textarea>
  <mat-form-field class="field
  " appearance="fill">
    <mat-label>Theater</mat-label>
    <mat-select  formControlName="theaterName">
      <mat-option *ngFor="let theater of theaters" [value]="theater.name">
        {{theater.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  

  <label for="dateTime">time</label>
  <input type="datetime-local" formControlName="time"   />
  <input class="submit-btn" type="submit" />
</form>
