header {
  background-color: #140102;
  color: #ab8a8a;
  height: 10%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  height: 110%;
  align-items: center;
}
.top {
  font-size: 200%;
}
.top:hover {
    cursor: pointer;
  }
ul {
    list-style: none;
  display: flex;
}
ul li:first-child{
    margin-right: 2vh;
}
li{ 
  cursor: pointer;
    color: #140102;
    border: 2px solid #ffcd38;
    background-color: #ffcd38;
    padding: 1vh;
    border-radius: 1vh;
}
li:hover{
  color:  #ffcd38;
    background-color: #140102;
    border: 2px solid #ffcd38;
    
}
