header{
    background-color: #332a28;
    color: #f9f0ec;
    height: 15vh;
    
}
.top{
 height: 75%;
 margin: auto;
 display: flex;
 align-items: center;
 font-size: 250%;
 padding-left: 10%;
 padding-right: 10%;
}
.nav-div{
    width: 100%;
    height: 25%;
    
}
nav{

    background-color: #930e0e;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    
    justify-content: space-between;
}
.auth-list{
    display: flex;
}
.nav-list{
    display: flex;
    margin: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0;
}
li{
    list-style: none;
    margin-right: 4vh;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: purple;
}