<header>
  <div class="wrapper">
    <div routerLink="/home" class="top">Theater Manager</div>
    <nav>
      <ul>
        <li routerLink="user/register" *ngIf="!isLoged">
          Register
        </li>
        <li routerLink="user/login" *ngIf="!isLoged">
          Login
        </li>
        <li routerLink="performance/add-performance" *ngIf="isLoged">
          Add performance
        </li> <li routerLink="theater/add-theater" *ngIf="isLoged">
          Add Theater
        </li>
        <li *ngIf="isLoged">
          <a (click)="logout()">Logout</a>
        </li>
        <li (click)="openAdminDialog()" *ngIf="isAdmin">
          Admin
        </li>
      </ul>
    </nav>
  </div>
</header>
