<header>
  <div class="wrapper">
    <div routerLink="/home" class="top">Theater Manager</div>
    <nav>
      <ul>
        <li routerLink="user/register" *ngIf="!isLoged">
          Register
        </li>
        <li routerLink="user/login" *ngIf="!isLoged">
          Login
        </li>
        <li *ngIf="isLoged">
          <a (click)="logout()">Logout</a>
        </li>
        <li (click)="openAdminDialog()" *ngIf="isAdmin">
          Admin
        </li>
      </ul>
    </nav>
  </div>

  <!-- <div class="nav-div">
    <nav>
      <ul class="nav-list">
        <li>
          <a routerLink="/home">Home</a>
        </li>
      </ul>
      <ul class="auth-list">
        <li *ngIf="!isLoged">
          <a routerLink="user/register">Register</a>
        </li>
        <li *ngIf="!isLoged">
          <a routerLink="user/login">Login</a>
        </li>
        <li *ngIf="isLoged">
            <a >Hello, {{username}}</a>
          </li>
        <li *ngIf="isLoged">
            <a (click)="logout()">Logout</a>
          </li>
      </ul>
    </nav>
  </div> -->
</header>
