
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self aware panel
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>I'm visible because I am open</p>
  </mat-expansion-panel>

<p>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus eveniet
  eligendi adipisci facilis soluta provident aut. Ratione sed eaque dolore
  repudiandae porro labore deserunt deleniti distinctio officia excepturi?
  Sapiente deleniti aut possimus? Adipisci saepe eius praesentium laborum natus
  aperiam earum. Nihil excepturi maiores eius laborum, vel et eaque ipsa
  voluptate!
</p>
